@theme-assets-path: '../../../themes/@{theme}/assets/';

.uv.en-gb {
    .headerPanel{
        .options{
            background-image: url('@{theme-assets-path}ub_logo_i.png');
            background-repeat: no-repeat;
            background-position: 5px 5px;
            background-size: 40px auto;
            .centerOptions{
                display: none;
            }
            .rightOptions{
                .settings{
                    //background: url('@{theme-assets-path}hamburger.png');
                    display: none;
                }
                //margin-right: 7px;
            }
        }
    }
}
