@import 'variables';
@import 'header-panel';
@import 'footer-panel';

#app {
    .overlays {
         > div.multiSelect {

            width: 800px;
            max-width: 90%;

            .content {
                height: 500px;
            }

        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 500px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    .iiif-gallery-component {

                        .header {

                            height: auto;
                            margin-bottom: 10px;

                            .left {

                                float:none;
                                display:block;
                                margin-bottom: 10px;

                            }
                            .right {

                                float:none;
                                display:block;
                                margin-bottom: 10px;

                            }

                        }

                    }

                }

            }
        }
    }

}

@media only screen and (min-height: 300px) and (max-height: 550px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    height: 400px;

                }

            }
        }
    }

}
@media only screen and (min-height: 551px) and (max-height: 600px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    height: 500px;

                }

            }
        }
    }

}
@media only screen and (min-height: 601px) and (max-height: 800px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    height: 600px;

                }

            }
        }
    }

}
@media only screen and (min-height: 801px) and (max-height: 900px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    height: 700px;

                }

            }
        }
    }

}
