@import 'variables';
@import 'header-panel';
@import 'footer-panel';

#app {
    .overlays {
         > div.multiSelect {

            width: 800px;
            max-width: 90%;

            .content {
                height: 500px;
            }

        }
    }
    .overlay {
        &.share {

            width: 400px;
            max-width: 90%;

            .middle {

                .content {

                    .tabsContent {

                        .view {

                            height: 100px !important;

                        }

                    }

                }

            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 500px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    .iiif-gallery-component {

                        .header {

                            height: auto;
                            margin-bottom: 10px;

                            .left {

                                float:none;
                                display:block;
                                margin-bottom: 10px;

                            }
                            .right {

                                float:none;
                                display:block;
                                margin-bottom: 10px;

                            }

                        }

                    }

                }

            }
        }
    }

}
@media only screen and (min-height: 300px) and (max-height: 349px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    height: 250px;

                }

            }
        }
    }

}

@media only screen and (min-height: 350px) and (max-height: 399px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    height: 300px;

                }

            }
        }
    }

}

@media only screen and (min-height: 400px) and (max-height: 449px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    height: 350px;

                }

            }
        }
    }

}

@media only screen and (min-height: 450px) and (max-height: 499px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    height: 400px;

                }

            }
        }
    }

}

@media only screen and (min-height: 500px) and (max-height: 549px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    height: 450px;

                }

            }
        }
    }

}
@media only screen and (min-height: 550px) and (max-height: 599px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    height: 500px;

                }

            }
        }
    }

}
@media only screen and (min-height: 600px) and (max-height: 799px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    height: 550px;

                }

            }
        }
    }

}
@media only screen and (min-height: 800px) and (max-height: 899px) {

    #app {
        .overlays {

             > div.multiSelect {

                .content {

                    height: 750px;

                }

            }
        }
    }

}
@media only screen and (min-width: 0px) and (max-width: 640px) {

  #app {

    .overlay {

      &.login {

        left: 10% !important;
        width: 80% !important;

        p.message {
          height: auto !important;
        }

      }

    }

  }

}
